.cart-table {
    min-width: 480px;
    font-size: 14px;
}
.cart-thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #6f94c6 !important;
}
.cart-icon {
    text-decoration: none;
    color: gold;
}